<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.onionm.econsultEn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">     <!-- 切换到该Activity时，不执行 onCreate 和 onDestroy 方法 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".BirthGuidelinesActivity"
            android:label="Birth Guidelines"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".BirthGuidelinesInfoActivity"
            android:label="Non-invasive prenatal DNA testing(NIPT)"
            android:parentActivityName=".BirthGuidelinesActivity"
            android:launchMode="singleTop">
        </activity>


        <activity
            android:name=".AntiAgingMedicineActivity"
            android:label="Anti-aging Medicine"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".AntiAgingMedicineSearchActivity"
            android:label="Comprehensive anti-aging treatment"
            android:parentActivityName=".AntiAgingMedicineActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".AntiAgingMedicineInfoActivity"
            android:label="La Source"
            android:parentActivityName=".AntiAgingMedicineSearchActivity"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".ChatActivity"
            android:label="Doctor ABC"
            android:parentActivityName=".BirthGuidelinesInfoActivity"
            android:launchMode="singleTop">
        </activity>


        <activity
            android:name=".RegisterActivity"
            android:label="Sign up"
            android:parentActivityName=".LoginActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".Register2Activity"
            android:label="Sign up"
            android:parentActivityName=".RegisterActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".Register3Activity"
            android:label="Register success"
            android:parentActivityName=".Register2Activity"
            android:launchMode="singleTop">
        </activity>


        <activity
            android:name=".PreventiveMedicineActivity"
            android:label="Preventive Medicine"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".PreventiveMedicineSearchActivity"
            android:label="Comprehensive check-up programme"
            android:parentActivityName=".PreventiveMedicineActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".PreventiveMedicineInfoActivity"
            android:label="Clinique de Genolier"
            android:parentActivityName=".PreventiveMedicineActivity"
            android:launchMode="singleTop">
        </activity>


        <activity
            android:name=".ClinicalTrialsActivity"
            android:label="Clinical Trials"
            android:parentActivityName=".MainActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ClinicalTrialsInfoActivity"
            android:label="Clinical Trials"
            android:parentActivityName=".ClinicalTrialsActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ClinicalTrialsSignUpActivity"
            android:label="Clinical Trials"
            android:parentActivityName=".ClinicalTrialsInfoActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ClinicalTrialsSignUpFinishActivity"
            android:label="Clinical Trials"
            android:parentActivityName=".ClinicalTrialsSignUpActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop">
        </activity>


        <activity
            android:name=".MajorDiseasesActivity"
            android:label="Major diseases complicated diagnosis and treatment"
            android:parentActivityName=".MainActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".MajorDiseasesSearchActivity"
            android:label="By Disease"
            android:parentActivityName=".MajorDiseasesActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".MajorByMedicineNameSearchActivity"
            android:label="By Medicine Name"
            android:parentActivityName=".MajorDiseasesActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".MajorByMedicineNameInfoActivity"
            android:label="Axitinib"
            android:parentActivityName=".MajorByMedicineNameSearchActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".MajorDiseasesSearchListActivity"
            android:label="Search list"
            android:parentActivityName=".MajorDiseasesSearchActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".MajorDiseasesHospitalInfoActivity"
            android:label="Info"
            android:parentActivityName=".MajorDiseasesSearchListActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop">
        </activity>



    </application>

</manifest>